.main {
  display: flex;
  /* flex-direction: column;  */
  min-height: 100vh;
}



/* hero component */
.heroContainer {
  background-color: #292e36;
  height: 80vh !important;
}
.heroImage{
  position:absolute;
  width: 80% !important;
  bottom: -90px;
  right: 0;
}
.mainTitle {
  color: wheat;
}
.heroContainer p{
  font-size: 16px !important;
}
.heroContainer h1{
  font-size: 4.2em !important;
}





/* Check availability component */
.checkCard {
  display: flex;
  background: rgba(185, 152, 59, 0.80);
  color: white;
  margin-top: -50px;
  z-index: 3;
  font-family: var(--font-cormorant) !important;
}
.darkBox{
  background-color: #242323;
}
.darkBox p{
  color: #FFF !important;
  font-weight: 700;
  font-size: 20px;
}
.darkBox span{
  color: #977E35 !important;
  font-weight: 600;
}
.promoText{
  font-size: 14px;
}
.promoLink{
  color: #fff;
  transition: color 0.5s ease-in;
}
.promoLink:hover, .promoLink:focus{
  color: #000;
}





@media screen and (max-width: 992px) {
  .checkCard {
    display: flex;
    background: rgb(185, 151, 59);
    color: white;
    margin-top: 0px;
    z-index: 3;
    font-family: var(--font-cormorant) !important;
  }
}
/* Mobile */
@media screen and (max-width: 600px) {
  .heroContainer{
    height: max-content !important;
  }
  .heroContainer h1{
    font-size: 2.8em !important;
  }
}