.main {
  display: flex;
  /* flex-direction: column;  */
  min-height: 100vh;
}



/* hero component */
.heroContainer {
  background-color: #292e36;
  height: 80vh !important;
}
.heroImage{
  position:absolute;
  width: 80% !important;
  bottom: -90px;
  right: 0;
}
.mainTitle {
  color: wheat;
}
.heroContainer p{
  font-size: 16px !important;
}
.heroContainer h1{
  font-size: 4.2em !important;
}

/* Check availability component */
.checkCard {
  display: flex;
  background-color: #B9983B;
  /* opacity: 0.6; */
  margin: -50px 150px 0px 150px;
  color: white;
}
.bookHolidays{
  /* width: 150px; */
  text-align: center;
  padding: 10px;
}
.checkBtn{
  /* width: 150px; */
  text-align: center;
  padding: 10px;
}
.promoCode{
  text-align: center;
  padding: 10px;
}
.checkOut{
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkIn {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkIn > div, .checkOut > div{
  width: 130px;
  height: 80px;
  background-color: white;
  color: black;
}




/* Mobile */
@media screen and (max-width: 600px) {
  .heroContainer{
    height: max-content !important;
  }
  .heroContainer h1{
    font-size: 2.8em !important;
  }
}